body {
  background-color: rgb(229, 229, 229);
  font-family: sans-serif;
  text-align: center;
}

.main-div {
  background-color: white;
  border-radius: 8px;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.header {
  width: 76%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
  height: 20%;
}

.main-hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.js-hr {
  margin: 20px;
}

select {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px 20px;
}

.select-city-js {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

.cities-div {
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
}

.place-date {
  text-align: left;
}

.place {
  margin: 0;
  font-size: 30px;
}

.date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.show-all-btn-div {
  margin-left: -70%;
}

.show-all-btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  font-weight: 600;
}

.show-all-btn:hover {
  text-decoration: underline;
}

footer {
  margin: 15px 15px;
}

.footer-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}
